<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Critical.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,38},{198,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{198,54}}</string>
                <key>sourceSize</key>
                <string>{200,56}</string>
            </dict>
            <key>Miss.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,30},{120,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{120,42}}</string>
                <key>sourceSize</key>
                <string>{128,48}</string>
            </dict>
            <key>b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,30},{90,50}}</string>
                <key>offset</key>
                <string>{156,227}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{315,4},{90,50}}</string>
                <key>sourceSize</key>
                <string>{408,512}</string>
            </dict>
            <key>b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,38},{180,116}}</string>
                <key>offset</key>
                <string>{111,195}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,3},{180,116}}</string>
                <key>sourceSize</key>
                <string>{408,512}</string>
            </dict>
            <key>b3.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,464},{370,280}}</string>
                <key>offset</key>
                <string>{16,113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,3},{370,280}}</string>
                <key>sourceSize</key>
                <string>{408,512}</string>
            </dict>
            <key>b4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1116},{406,506}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{406,506}}</string>
                <key>sourceSize</key>
                <string>{408,512}</string>
            </dict>
            <key>b5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,630},{304,392}}</string>
                <key>offset</key>
                <string>{-49,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,112},{304,392}}</string>
                <key>sourceSize</key>
                <string>{408,512}</string>
            </dict>
            <key>b6.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,156},{300,184}}</string>
                <key>offset</key>
                <string>{-48,-155}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,319},{300,184}}</string>
                <key>sourceSize</key>
                <string>{408,512}</string>
            </dict>
            <key>battle_ATT.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{768,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,120}}</string>
                <key>sourceSize</key>
                <string>{768,120}</string>
            </dict>
            <key>battle_baoji.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,38},{56,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,68}}</string>
                <key>sourceSize</key>
                <string>{56,68}</string>
            </dict>
            <key>battle_biaoji.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,30},{38,108}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{38,108}}</string>
                <key>sourceSize</key>
                <string>{48,112}</string>
            </dict>
            <key>battle_enemyhp.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{496,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,26}}</string>
                <key>sourceSize</key>
                <string>{496,26}</string>
            </dict>
            <key>battle_enemyhpbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{502,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{502,34}}</string>
                <key>sourceSize</key>
                <string>{512,36}</string>
            </dict>
            <key>battle_enemynamebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,30},{148,38}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{148,38}}</string>
                <key>sourceSize</key>
                <string>{160,44}</string>
            </dict>
            <key>battle_putong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{480,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,68}}</string>
                <key>sourceSize</key>
                <string>{480,68}</string>
            </dict>
            <key>battle_role_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,342},{78,1136}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,1136}}</string>
                <key>sourceSize</key>
                <string>{80,1136}</string>
            </dict>
            <key>dj.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,746},{384,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{384,368}}</string>
                <key>sourceSize</key>
                <string>{384,368}</string>
            </dict>
            <key>xd.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,96},{194,170}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{194,170}}</string>
                <key>sourceSize</key>
                <string>{200,184}</string>
            </dict>
            <key>y1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{415,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{415,163}}</string>
                <key>sourceSize</key>
                <string>{415,163}</string>
            </dict>
            <key>y2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{415,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{415,164}}</string>
                <key>sourceSize</key>
                <string>{415,164}</string>
            </dict>
            <key>zh.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1480},{464,460}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{464,460}}</string>
                <key>sourceSize</key>
                <string>{480,472}</string>
            </dict>
            <key>zh_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1524},{490,502}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{490,502}}</string>
                <key>sourceSize</key>
                <string>{496,504}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>battle.png</string>
            <key>size</key>
            <string>{1004,2016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:305ab3d629a8c6fa6e50bcc3dd8f4faf$</string>
            <key>textureFileName</key>
            <string>battle.png</string>
        </dict>
    </dict>
</plist>
