<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MB_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,196},{200,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,80}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>MB_05_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{200,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,192}}</string>
                <key>sourceSize</key>
                <string>{200,192}</string>
            </dict>
            <key>MB_05_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{200,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,192}}</string>
                <key>sourceSize</key>
                <string>{200,192}</string>
            </dict>
            <key>MB_05_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{200,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,192}}</string>
                <key>sourceSize</key>
                <string>{200,192}</string>
            </dict>
            <key>M_105_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,740},{88,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,96}}</string>
                <key>sourceSize</key>
                <string>{88,96}</string>
            </dict>
            <key>M_105_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,698},{88,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,96}}</string>
                <key>sourceSize</key>
                <string>{88,96}</string>
            </dict>
            <key>M_105_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,732},{88,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,96}}</string>
                <key>sourceSize</key>
                <string>{88,96}</string>
            </dict>
            <key>M_18_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,650},{88,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,128}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>M_18_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,602},{88,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,128}}</string>
                <key>sourceSize</key>
                <string>{88,128}</string>
            </dict>
            <key>M_51_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,440},{112,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,160}}</string>
                <key>sourceSize</key>
                <string>{112,160}</string>
            </dict>
            <key>M_51_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{112,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,160}}</string>
                <key>sourceSize</key>
                <string>{112,160}</string>
            </dict>
            <key>M_51_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,278},{112,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,160}}</string>
                <key>sourceSize</key>
                <string>{112,160}</string>
            </dict>
            <key>M_52_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,552},{88,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,144}}</string>
                <key>sourceSize</key>
                <string>{88,144}</string>
            </dict>
            <key>M_53_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{88,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,144}}</string>
                <key>sourceSize</key>
                <string>{88,144}</string>
            </dict>
            <key>M_54_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,830},{80,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,160}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>M_54_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,838},{80,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,160}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>M_54_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,838},{80,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,160}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>M_54_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,796},{80,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,160}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>M_55_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,488},{88,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,160}}</string>
                <key>sourceSize</key>
                <string>{88,160}</string>
            </dict>
            <key>M_55_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,326},{88,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,160}}</string>
                <key>sourceSize</key>
                <string>{88,160}</string>
            </dict>
            <key>M_55_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,164},{88,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,160}}</string>
                <key>sourceSize</key>
                <string>{88,160}</string>
            </dict>
            <key>M_55_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{88,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,160}}</string>
                <key>sourceSize</key>
                <string>{88,160}</string>
            </dict>
            <key>M_56_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,830},{80,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,160}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>M_56_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,440},{80,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,160}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>M_56_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,390},{80,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,160}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>M_56_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,278},{80,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,160}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>M_57_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,602},{88,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,136}}</string>
                <key>sourceSize</key>
                <string>{88,136}</string>
            </dict>
            <key>M_77_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,780},{80,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,152}}</string>
                <key>sourceSize</key>
                <string>{80,152}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MonsterSeven.png</string>
            <key>size</key>
            <string>{496,1000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:727cc595917ddd8f40e36276bc37424a$</string>
            <key>textureFileName</key>
            <string>MonsterSeven.png</string>
        </dict>
    </dict>
</plist>
