<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MB_04_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{160,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,200}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>MB_04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{160,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,200}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>MB_04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,200}}</string>
                <key>sourceSize</key>
                <string>{160,200}</string>
            </dict>
            <key>M_107_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,854},{88,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,96}}</string>
                <key>sourceSize</key>
                <string>{88,96}</string>
            </dict>
            <key>M_107_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,892},{88,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,96}}</string>
                <key>sourceSize</key>
                <string>{88,96}</string>
            </dict>
            <key>M_107_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,756},{88,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,96}}</string>
                <key>sourceSize</key>
                <string>{88,96}</string>
            </dict>
            <key>M_40_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{88,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,144}}</string>
                <key>sourceSize</key>
                <string>{88,144}</string>
            </dict>
            <key>M_46_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,706},{64,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,96}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>M_47_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,608},{64,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,96}}</string>
                <key>sourceSize</key>
                <string>{64,96}</string>
            </dict>
            <key>M_48_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,472},{88,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,144}}</string>
                <key>sourceSize</key>
                <string>{88,144}</string>
            </dict>
            <key>M_49_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,326},{88,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,144}}</string>
                <key>sourceSize</key>
                <string>{88,144}</string>
            </dict>
            <key>M_58_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,164},{88,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,160}}</string>
                <key>sourceSize</key>
                <string>{88,160}</string>
            </dict>
            <key>M_58_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{88,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,160}}</string>
                <key>sourceSize</key>
                <string>{88,160}</string>
            </dict>
            <key>M_68_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{88,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,136}}</string>
                <key>sourceSize</key>
                <string>{88,136}</string>
            </dict>
            <key>M_83_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,618},{88,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,136}}</string>
                <key>sourceSize</key>
                <string>{88,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MonsterSix.png</string>
            <key>size</key>
            <string>{254,990}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16f914c799399ec6b800fbfd2b0a829a$</string>
            <key>textureFileName</key>
            <string>MonsterSix.png</string>
        </dict>
    </dict>
</plist>
