<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MB_09_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{152,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,176}}</string>
                <key>sourceSize</key>
                <string>{152,176}</string>
            </dict>
            <key>MB_09_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{152,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,176}}</string>
                <key>sourceSize</key>
                <string>{152,176}</string>
            </dict>
            <key>MB_09_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,176}}</string>
                <key>sourceSize</key>
                <string>{152,176}</string>
            </dict>
            <key>M_05_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,180},{80,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,160}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>M_05_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,180},{80,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,160}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>M_24_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,424},{88,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,120}}</string>
                <key>sourceSize</key>
                <string>{88,120}</string>
            </dict>
            <key>M_25_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,342},{88,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,120}}</string>
                <key>sourceSize</key>
                <string>{88,120}</string>
            </dict>
            <key>M_26_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,342},{88,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,120}}</string>
                <key>sourceSize</key>
                <string>{88,120}</string>
            </dict>
            <key>M_41_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,342},{88,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,120}}</string>
                <key>sourceSize</key>
                <string>{88,120}</string>
            </dict>
            <key>M_42_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{88,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,120}}</string>
                <key>sourceSize</key>
                <string>{88,120}</string>
            </dict>
            <key>M_43_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,302},{88,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,120}}</string>
                <key>sourceSize</key>
                <string>{88,120}</string>
            </dict>
            <key>M_44_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,180},{88,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,120}}</string>
                <key>sourceSize</key>
                <string>{88,120}</string>
            </dict>
            <key>M_45_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,180},{112,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,160}}</string>
                <key>sourceSize</key>
                <string>{112,160}</string>
            </dict>
            <key>M_45_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{112,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,160}}</string>
                <key>sourceSize</key>
                <string>{112,160}</string>
            </dict>
            <key>M_50_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,464},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>M_50_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,464},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>M_50_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MonsterThree.png</string>
            <key>size</key>
            <string>{484,578}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f716b242007442d21e0aabf6fcc6ee60$</string>
            <key>textureFileName</key>
            <string>MonsterThree.png</string>
        </dict>
    </dict>
</plist>
