<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MB_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,360},{104,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,152}}</string>
                <key>sourceSize</key>
                <string>{104,152}</string>
            </dict>
            <key>MB_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,360},{104,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,152}}</string>
                <key>sourceSize</key>
                <string>{104,152}</string>
            </dict>
            <key>MB_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,352},{104,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,152}}</string>
                <key>sourceSize</key>
                <string>{104,152}</string>
            </dict>
            <key>M_09_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>M_09_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>M_107_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{88,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,96}}</string>
                <key>sourceSize</key>
                <string>{88,96}</string>
            </dict>
            <key>M_107_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{88,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,96}}</string>
                <key>sourceSize</key>
                <string>{88,96}</string>
            </dict>
            <key>M_107_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{88,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,96}}</string>
                <key>sourceSize</key>
                <string>{88,96}</string>
            </dict>
            <key>M_10_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,198},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>M_10_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>M_10_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,100},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>M_11_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,100},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>M_11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,100},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>M_11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,100},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>M_12_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,84},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>M_12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{80,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,112}}</string>
                <key>sourceSize</key>
                <string>{80,112}</string>
            </dict>
            <key>M_13_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,352},{88,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,144}}</string>
                <key>sourceSize</key>
                <string>{88,144}</string>
            </dict>
            <key>M_14_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{88,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,144}}</string>
                <key>sourceSize</key>
                <string>{88,144}</string>
            </dict>
            <key>M_15_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,214},{88,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,144}}</string>
                <key>sourceSize</key>
                <string>{88,144}</string>
            </dict>
            <key>M_16_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,214},{88,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,136}}</string>
                <key>sourceSize</key>
                <string>{88,136}</string>
            </dict>
            <key>M_17_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,214},{88,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,136}}</string>
                <key>sourceSize</key>
                <string>{88,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MonsterTwo.png</string>
            <key>size</key>
            <string>{500,514}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:55f2e753b7fd786d3b0982e791524987$</string>
            <key>textureFileName</key>
            <string>MonsterTwo.png</string>
        </dict>
    </dict>
</plist>
