<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>427.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,244},{80,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,240}}</string>
                <key>sourceSize</key>
                <string>{80,240}</string>
            </dict>
            <key>428.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,244},{80,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,240}}</string>
                <key>sourceSize</key>
                <string>{80,240}</string>
            </dict>
            <key>429.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,50},{80,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,240}}</string>
                <key>sourceSize</key>
                <string>{80,240}</string>
            </dict>
            <key>430.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,50},{80,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,240}}</string>
                <key>sourceSize</key>
                <string>{80,240}</string>
            </dict>
            <key>431.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,50},{80,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,240}}</string>
                <key>sourceSize</key>
                <string>{80,240}</string>
            </dict>
            <key>432.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,292},{80,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,160}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>433.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,292},{80,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,160}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>434.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,50},{80,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,240}}</string>
                <key>sourceSize</key>
                <string>{80,240}</string>
            </dict>
            <key>435.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,50},{80,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,240}}</string>
                <key>sourceSize</key>
                <string>{80,240}</string>
            </dict>
            <key>436.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,300},{80,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,160}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>437.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,2},{80,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,240}}</string>
                <key>sourceSize</key>
                <string>{80,240}</string>
            </dict>
            <key>438.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,2},{80,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,240}}</string>
                <key>sourceSize</key>
                <string>{80,240}</string>
            </dict>
            <key>439.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,626},{80,74}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,132}</string>
            </dict>
            <key>451.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>452.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,618},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>453.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,618},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>454.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,618},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>455.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,544},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>456.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,544},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>457.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,300},{40,80}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>458.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,522},{40,80}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{40,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>459.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>460.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,300},{80,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,160}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>461.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,538},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>462.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,2},{80,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,240}}</string>
                <key>sourceSize</key>
                <string>{80,240}</string>
            </dict>
            <key>463.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,538},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>464.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,568},{78,74}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{78,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>476.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,536},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>477.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,536},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>478.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,536},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>479.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,462},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>480.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,440},{66,80}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>481.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,462},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>482.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>483.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,486},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>484.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,486},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>485.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,456},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>486.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,358},{66,80}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{66,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>487.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,456},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>489.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,626},{80,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>501.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,454},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>502.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,454},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>503.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,454},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>504.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,244},{58,112}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{58,112}}</string>
                <key>sourceSize</key>
                <string>{80,132}</string>
            </dict>
            <key>505.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,374},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>506.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,374},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>507.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{80,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,160}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>508.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,292},{80,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,160}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>509.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,406},{80,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,160}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>510.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,292},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>511.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,292},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>512.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,244},{80,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,160}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>img_sceneth1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{296,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{296,296}}</string>
                <key>sourceSize</key>
                <string>{304,304}</string>
            </dict>
            <key>text_scene1.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{448,46}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,24},{448,46}}</string>
                <key>sourceSize</key>
                <string>{592,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TiledMapOne.png</string>
            <key>size</key>
            <string>{1024,708}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6363b0e379c8b00867958292d456b9e9$</string>
            <key>textureFileName</key>
            <string>TiledMapOne.png</string>
        </dict>
    </dict>
</plist>
