<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>526.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,348},{80,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,160}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>527.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,348},{80,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,160}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>528.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,348},{80,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,160}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>529.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,348},{80,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,160}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>530.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{80,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,160}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>531.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{80,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,160}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>532.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,206},{80,100}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,60},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>533.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,248},{80,54}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{80,54}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>534.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,104},{80,100}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,60},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>535.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{80,100}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,60},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>536.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,486},{80,100}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,60},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>537.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,612},{80,100}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,60},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>538.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,510},{80,100}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,60},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>551.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,924},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>552.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,887},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>553.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,878},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>554.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,244},{80,54}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{80,54}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>555.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,798},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>556.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,510},{80,109}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{80,109}}</string>
                <key>sourceSize</key>
                <string>{80,111}</string>
            </dict>
            <key>557.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,746},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>558.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,670},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>559.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,796},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>560.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,796},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>561.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,408},{80,72}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{80,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>562.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,308},{80,98}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,62},{80,98}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>563.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,482},{80,98}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,62},{80,98}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>576.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,805},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>577.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>578.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{80,146}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{80,146}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>579.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,486},{80,146}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,146}}</string>
                <key>sourceSize</key>
                <string>{80,154}</string>
            </dict>
            <key>580.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,796},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>581.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,716},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>582.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,612},{80,100}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,60},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>583.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,664},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>584.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,510},{80,100}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,60},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>585.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,612},{80,100}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,60},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>586.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,878},{80,28}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,52},{80,28}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>587.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,164},{80,78}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>588.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,510},{80,100}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,60},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>601.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,588},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>602.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,714},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>607.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,714},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>608.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,723},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>609.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,760},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>610.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,714},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>611.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{80,100}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,60},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>612.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,634},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>613.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,621},{80,100}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,60},{80,100}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>626.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,582},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>630.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,390},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>631.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,166},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>633.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,84},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>634.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>635.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,308},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>636.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,244},{80,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,240}}</string>
                <key>sourceSize</key>
                <string>{80,240}</string>
            </dict>
            <key>637.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{80,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,240}}</string>
                <key>sourceSize</key>
                <string>{80,240}</string>
            </dict>
            <key>638.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{80,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,240}}</string>
                <key>sourceSize</key>
                <string>{80,240}</string>
            </dict>
            <key>img_sceneth2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{296,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{296,296}}</string>
                <key>sourceSize</key>
                <string>{304,304}</string>
            </dict>
            <key>text_scene2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{450,46}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,24},{450,46}}</string>
                <key>sourceSize</key>
                <string>{592,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TiledMapTwo.png</string>
            <key>size</key>
            <string>{710,1006}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d6aceff6072e97bd4dedc376411ff08$</string>
            <key>textureFileName</key>
            <string>TiledMapTwo.png</string>
        </dict>
    </dict>
</plist>
