<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>540.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{80,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,160}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>541.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,510},{80,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,160}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>542.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,404},{80,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,160}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>543.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,348},{80,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,160}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>544.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,348},{80,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,160}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>545.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,730},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>546.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,688},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>547.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,404},{80,118}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{80,118}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>548.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,794},{80,56}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,60},{80,56}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>549.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,510},{80,118}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{80,118}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>550.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,50},{146,148}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{146,148}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>565.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{80,236}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,236}}</string>
                <key>sourceSize</key>
                <string>{80,240}</string>
            </dict>
            <key>566.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,852},{78,154}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,154}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>567.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,732},{76,138}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{76,138}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>568.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,912},{78,98}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,59},{78,98}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>569.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,912},{76,110}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,44},{76,110}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>570.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,650},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>571.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,830},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>572.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,754},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>573.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,836},{80,58}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{80,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>574.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,712},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>575.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,648},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>590.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,606},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>591.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,568},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>592.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,748},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>593.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,672},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>594.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,630},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>595.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,566},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>596.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,524},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>597.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,770},{76,80}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{76,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>598.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,486},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>599.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{30,80}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,0},{30,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>600.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,200},{196,202}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,32},{196,202}}</string>
                <key>sourceSize</key>
                <string>{240,240}</string>
            </dict>
            <key>615.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,404},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>img_sceneth3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{296,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{296,296}}</string>
                <key>sourceSize</key>
                <string>{304,304}</string>
            </dict>
            <key>text_scene3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{450,46}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,24},{450,46}}</string>
                <key>sourceSize</key>
                <string>{592,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TiledMapThree.png</string>
            <key>size</key>
            <string>{498,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:97d0852f4523d8b7ec1cf96e4e8717bc$</string>
            <key>textureFileName</key>
            <string>TiledMapThree.png</string>
        </dict>
    </dict>
</plist>
