<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{80,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{80,48}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,223},{80,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,97}}</string>
                <key>sourceSize</key>
                <string>{80,97}</string>
            </dict>
            <key>1019.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,643},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>1020.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,611},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>890.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,590},{80,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,160}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>891.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,348},{80,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,240}}</string>
                <key>sourceSize</key>
                <string>{80,240}</string>
            </dict>
            <key>892.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{80,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,160}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>893.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,348},{80,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,240}}</string>
                <key>sourceSize</key>
                <string>{80,240}</string>
            </dict>
            <key>894.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,478},{80,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,160}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>895.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,348},{80,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,160}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>896.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,348},{80,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,240}}</string>
                <key>sourceSize</key>
                <string>{80,240}</string>
            </dict>
            <key>897.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,52},{80,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,160}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>898.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,74},{80,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,160}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>899.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{80,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,240}}</string>
                <key>sourceSize</key>
                <string>{80,240}</string>
            </dict>
            <key>900.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,236},{80,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,240}}</string>
                <key>sourceSize</key>
                <string>{80,240}</string>
            </dict>
            <key>915.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,84},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>916.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>917 - 副本 (2).png</key>
            <dict>
                <key>frame</key>
                <string>{{618,223},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>917.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,223},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>919.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,470},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>920.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,939},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>921.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,916},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>922.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,552},{40,80}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>923.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,348},{40,80}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{40,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>924.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,916},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>925.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,889},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>940.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,906},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>941.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,889},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>942.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,886},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>943.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,857},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>944.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,807},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>945.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,834},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>946.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,387},{62,80}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>947.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,478},{80,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,131}}</string>
                <key>sourceSize</key>
                <string>{80,131}</string>
            </dict>
            <key>948.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,510},{80,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,131}}</string>
                <key>sourceSize</key>
                <string>{80,131}</string>
            </dict>
            <key>949.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,74},{80,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,160}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>950.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,305},{62,80}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{62,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>965.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>966.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,824},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>967.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,807},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>968.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,804},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>969.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,775},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>970.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,722},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>971.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,418},{78,50}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{78,50}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>972.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{152,70}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{152,70}}</string>
                <key>sourceSize</key>
                <string>{160,80}</string>
            </dict>
            <key>973.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,236},{78,50}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{78,50}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>974.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,590},{80,133}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,133}}</string>
                <key>sourceSize</key>
                <string>{80,167}</string>
            </dict>
            <key>975.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,120},{80,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{80,101}}</string>
                <key>sourceSize</key>
                <string>{80,105}</string>
            </dict>
            <key>978-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,322},{80,94}}</string>
                <key>offset</key>
                <string>{0,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,94}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>981-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{80,116}}</string>
                <key>offset</key>
                <string>{0,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{80,116}}</string>
                <key>sourceSize</key>
                <string>{80,240}</string>
            </dict>
            <key>990.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,725},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>991.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,742},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>992.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,621},{58,67}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{58,67}}</string>
                <key>sourceSize</key>
                <string>{80,97}</string>
            </dict>
            <key>993.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,552},{58,67}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{58,67}}</string>
                <key>sourceSize</key>
                <string>{80,97}</string>
            </dict>
            <key>994.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,752},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>995.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>996.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,725},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>997.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,693},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>998.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,640},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>999.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,590},{80,150}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,150}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>img_sceneth4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{296,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{296,296}}</string>
                <key>sourceSize</key>
                <string>{304,304}</string>
            </dict>
            <key>text_scene4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{450,46}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,24},{450,46}}</string>
                <key>sourceSize</key>
                <string>{592,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TiledMapFour.png</string>
            <key>size</key>
            <string>{710,1021}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bdd27ebf6d4bef359127bc0fd804a8d6$</string>
            <key>textureFileName</key>
            <string>TiledMapFour.png</string>
        </dict>
    </dict>
</plist>
