<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>640.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,804},{80,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,160}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>641.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,804},{80,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,160}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>642.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,804},{80,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,160}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>643.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,804},{80,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,160}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>644.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,804},{80,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,160}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>645.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,750},{80,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,240}}</string>
                <key>sourceSize</key>
                <string>{80,240}</string>
            </dict>
            <key>646.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,508},{80,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,240}}</string>
                <key>sourceSize</key>
                <string>{80,240}</string>
            </dict>
            <key>647.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,266},{80,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,240}}</string>
                <key>sourceSize</key>
                <string>{80,240}</string>
            </dict>
            <key>648.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,840},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>649.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,948},{80,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>650.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,758},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>665.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,804},{80,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,160}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>666.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,758},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>667.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,922},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>668.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,840},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>669.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,758},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>670.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,676},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>671.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,676},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>672.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{80,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,160}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>673.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,594},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>674.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,594},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>675.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,512},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>690.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,512},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>691.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,430},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>692.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,430},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>693.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,508},{80,134}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{80,134}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>694.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,430},{78,76}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{78,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>695.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,804},{80,142}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{80,142}}</string>
                <key>sourceSize</key>
                <string>{80,160}</string>
            </dict>
            <key>696.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,348},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>697.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,840},{70,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{70,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>698.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,922},{76,80}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{76,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>699.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,348},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>700.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,922},{76,80}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>715.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,348},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>716.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,266},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>717.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,266},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>718.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,644},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>img_sceneth10.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{302,262}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,17},{302,262}}</string>
                <key>sourceSize</key>
                <string>{304,304}</string>
            </dict>
            <key>mofa_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,800}}</string>
                <key>sourceSize</key>
                <string>{640,800}</string>
            </dict>
            <key>text_scene10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{450,46}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,24},{450,46}}</string>
                <key>sourceSize</key>
                <string>{592,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TiledMapTen.png</string>
            <key>size</key>
            <string>{986,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa137770dbfce8fa9f82630fbb4fc75b$</string>
            <key>textureFileName</key>
            <string>TiledMapTen.png</string>
        </dict>
    </dict>
</plist>
