<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_index_continue1.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,1240},{378,96}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{378,96}}</string>
                <key>sourceSize</key>
                <string>{384,112}</string>
            </dict>
            <key>btn_index_continue2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1240},{378,96}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{378,96}}</string>
                <key>sourceSize</key>
                <string>{384,112}</string>
            </dict>
            <key>btn_index_credits1.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1064},{158,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,90}}</string>
                <key>sourceSize</key>
                <string>{158,90}</string>
            </dict>
            <key>btn_index_credits2.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,972},{158,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,90}}</string>
                <key>sourceSize</key>
                <string>{158,90}</string>
            </dict>
            <key>btn_index_gamecenter1.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,880},{158,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,90}}</string>
                <key>sourceSize</key>
                <string>{158,90}</string>
            </dict>
            <key>btn_index_gamecenter2.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,788},{158,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,90}}</string>
                <key>sourceSize</key>
                <string>{158,90}</string>
            </dict>
            <key>btn_index_more1.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,696},{158,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,90}}</string>
                <key>sourceSize</key>
                <string>{158,90}</string>
            </dict>
            <key>btn_index_more2.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,604},{158,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,90}}</string>
                <key>sourceSize</key>
                <string>{158,90}</string>
            </dict>
            <key>btn_index_restart1.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,1338},{298,80}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{298,80}}</string>
                <key>sourceSize</key>
                <string>{304,96}</string>
            </dict>
            <key>btn_index_restart2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1338},{298,80}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{298,80}}</string>
                <key>sourceSize</key>
                <string>{304,96}</string>
            </dict>
            <key>btn_index_start1.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{208,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{208,208}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>btn_index_start2.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,212},{208,206}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{208,206}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>btn_index_weibo1.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,512},{158,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,90}}</string>
                <key>sourceSize</key>
                <string>{158,90}</string>
            </dict>
            <key>btn_index_weibo2.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,420},{158,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,90}}</string>
                <key>sourceSize</key>
                <string>{158,90}</string>
            </dict>
            <key>fengmian_background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{768,1140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,1140}}</string>
                <key>sourceSize</key>
                <string>{768,1140}</string>
            </dict>
            <key>img_index_bbar.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1144},{768,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{768,94}}</string>
                <key>sourceSize</key>
                <string>{768,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fengmian.png</string>
            <key>size</key>
            <string>{982,1420}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7839ba5811ed5b631bfce7455303c92$</string>
            <key>textureFileName</key>
            <string>fengmian.png</string>
        </dict>
    </dict>
</plist>
