<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_buya1.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{86,48}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{86,48}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>btn_buya2.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{86,48}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{86,48}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>btn_buyb1.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,2},{86,48}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{86,48}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>btn_buyb2.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,2},{86,48}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{86,48}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>btn_buycoin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,68},{318,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{318,64}}</string>
                <key>sourceSize</key>
                <string>{328,88}</string>
            </dict>
            <key>btn_buycoin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,58},{318,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{318,64}}</string>
                <key>sourceSize</key>
                <string>{328,88}</string>
            </dict>
            <key>btn_buyd.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,2},{68,54}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{68,54}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>btn_buyg.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{84,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,22},{84,46}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>btn_freecoin1.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,58},{318,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{318,64}}</string>
                <key>sourceSize</key>
                <string>{328,88}</string>
            </dict>
            <key>btn_freecoin2.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,52},{318,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{318,64}}</string>
                <key>sourceSize</key>
                <string>{328,88}</string>
            </dict>
            <key>btn_restore1.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,50},{174,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{174,64}}</string>
                <key>sourceSize</key>
                <string>{184,88}</string>
            </dict>
            <key>btn_restore2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1858,2},{174,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{174,64}}</string>
                <key>sourceSize</key>
                <string>{184,88}</string>
            </dict>
            <key>btn_upgrade_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,48},{214,56}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{214,56}}</string>
                <key>sourceSize</key>
                <string>{224,88}</string>
            </dict>
            <key>btn_upgrade_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{214,56}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{214,56}}</string>
                <key>sourceSize</key>
                <string>{224,88}</string>
            </dict>
            <key>btn_upgrade_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,2},{214,56}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{214,56}}</string>
                <key>sourceSize</key>
                <string>{224,88}</string>
            </dict>
            <key>fh_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,68},{104,82}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{104,82}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>fh_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1400,124},{120,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,96}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>fh_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,124},{120,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,96}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>fh_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,124},{120,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,96}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>fh_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,124},{120,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,96}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>fh_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,124},{118,94}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{118,94}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>fh_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,106},{118,90}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{118,90}}</string>
                <key>sourceSize</key>
                <string>{120,96}</string>
            </dict>
            <key>fh_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,134},{108,240}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,240}}</string>
                <key>sourceSize</key>
                <string>{120,240}</string>
            </dict>
            <key>fh_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{78,198}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,31},{78,198}}</string>
                <key>sourceSize</key>
                <string>{120,240}</string>
            </dict>
            <key>img_bg_missonb.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,2},{590,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{590,54}}</string>
                <key>sourceSize</key>
                <string>{592,56}</string>
            </dict>
            <key>img_bg_missonm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{590,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{590,112}}</string>
                <key>sourceSize</key>
                <string>{592,112}</string>
            </dict>
            <key>img_bg_missont.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,118},{590,82}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{590,82}}</string>
                <key>sourceSize</key>
                <string>{592,88}</string>
            </dict>
            <key>img_bg_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,856},{590,856}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{590,856}}</string>
                <key>sourceSize</key>
                <string>{592,872}</string>
            </dict>
            <key>img_popbg_missoncomp.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,394},{606,460}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{606,460}}</string>
                <key>sourceSize</key>
                <string>{608,464}</string>
            </dict>
            <key>img_popbg_queen.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,334},{478,358}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{478,358}}</string>
                <key>sourceSize</key>
                <string>{480,368}</string>
            </dict>
            <key>img_popbg_teleport.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,694},{590,584}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{590,584}}</string>
                <key>sourceSize</key>
                <string>{592,592}</string>
            </dict>
            <key>img_popbg_upgrade.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,518},{590,496}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{590,496}}</string>
                <key>sourceSize</key>
                <string>{592,504}</string>
            </dict>
            <key>img_text_shop1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{348,426}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,11},{348,426}}</string>
                <key>sourceSize</key>
                <string>{400,440}</string>
            </dict>
            <key>img_text_shop2.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,220},{112,420}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,17},{112,420}}</string>
                <key>sourceSize</key>
                <string>{128,440}</string>
            </dict>
            <key>img_text_shop3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,222},{360,170}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{360,170}}</string>
                <key>sourceSize</key>
                <string>{400,176}</string>
            </dict>
            <key>lose_title_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,152},{364,280}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,0},{364,280}}</string>
                <key>sourceSize</key>
                <string>{400,280}</string>
            </dict>
            <key>text_revive.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,2},{506,44}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{506,44}}</string>
                <key>sourceSize</key>
                <string>{512,48}</string>
            </dict>
            <key>vs_Monster_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{30,30}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tongyongkuang_2.png</string>
            <key>size</key>
            <string>{2046,1448}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa22f2a04257e2799b98d6b5dcc6c055$</string>
            <key>textureFileName</key>
            <string>tongyongkuang_2.png</string>
        </dict>
    </dict>
</plist>
