
:host {
	display: flex;
	margin: 2px;
}

#none {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

}

#view {
	display: block;
}

ul#items {
	display: flex;
	flex-direction: column;
	list-style: none;
	overflow-x: hidden;
	overflow-y: auto;
}

ul#items li {
	height: 100px;
}

