<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MB_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{240,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,80}}</string>
                <key>sourceSize</key>
                <string>{240,80}</string>
            </dict>
            <key>MB_06_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{240,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,200}}</string>
                <key>sourceSize</key>
                <string>{240,200}</string>
            </dict>
            <key>MB_06_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,326},{240,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,200}}</string>
                <key>sourceSize</key>
                <string>{240,200}</string>
            </dict>
            <key>MB_06_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,326},{240,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,200}}</string>
                <key>sourceSize</key>
                <string>{240,200}</string>
            </dict>
            <key>MB_06_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,326},{240,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,200}}</string>
                <key>sourceSize</key>
                <string>{240,200}</string>
            </dict>
            <key>MB_06_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{240,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,200}}</string>
                <key>sourceSize</key>
                <string>{240,200}</string>
            </dict>
            <key>M_59_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{88,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,144}}</string>
                <key>sourceSize</key>
                <string>{88,144}</string>
            </dict>
            <key>M_60_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,148},{96,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,160}}</string>
                <key>sourceSize</key>
                <string>{96,160}</string>
            </dict>
            <key>M_60_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,108},{96,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,160}}</string>
                <key>sourceSize</key>
                <string>{96,160}</string>
            </dict>
            <key>M_61_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,84},{96,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,160}}</string>
                <key>sourceSize</key>
                <string>{96,160}</string>
            </dict>
            <key>M_61_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{96,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,160}}</string>
                <key>sourceSize</key>
                <string>{96,160}</string>
            </dict>
            <key>M_62_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,2},{96,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,160}}</string>
                <key>sourceSize</key>
                <string>{96,160}</string>
            </dict>
            <key>M_62_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,2},{96,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,160}}</string>
                <key>sourceSize</key>
                <string>{96,160}</string>
            </dict>
            <key>M_63_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{96,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,160}}</string>
                <key>sourceSize</key>
                <string>{96,160}</string>
            </dict>
            <key>M_63_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{96,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,160}}</string>
                <key>sourceSize</key>
                <string>{96,160}</string>
            </dict>
            <key>M_64_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{96,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,160}}</string>
                <key>sourceSize</key>
                <string>{96,160}</string>
            </dict>
            <key>M_64_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{96,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,160}}</string>
                <key>sourceSize</key>
                <string>{96,160}</string>
            </dict>
            <key>M_65_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{88,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,104}}</string>
                <key>sourceSize</key>
                <string>{88,104}</string>
            </dict>
            <key>M_66_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,164},{88,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,160}}</string>
                <key>sourceSize</key>
                <string>{88,160}</string>
            </dict>
            <key>M_66_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,164},{88,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,160}}</string>
                <key>sourceSize</key>
                <string>{88,160}</string>
            </dict>
            <key>M_66_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,164},{112,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,160}}</string>
                <key>sourceSize</key>
                <string>{112,160}</string>
            </dict>
            <key>M_66_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,164},{112,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,160}}</string>
                <key>sourceSize</key>
                <string>{112,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>MonsterEight.png</string>
            <key>size</key>
            <string>{1012,674}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63a167e286369d44542ba4185615e528$</string>
            <key>textureFileName</key>
            <string>MonsterEight.png</string>
        </dict>
    </dict>
</plist>
